<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SCHOOLREMINDERR"
        android:usesCleartextTraffic="true">

        <!-- SPLASH -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name=".activity.LoginActivity" android:exported="false"/>
        <activity android:name=".activity.RegisterActivity" android:exported="false"/>

        <!-- STUDENT -->
        <activity android:name=".activity.HomeStudentActivity" android:exported="false"/>


        <!-- TEACHER -->
        <activity android:name=".activity.HomeTeacherActivity" android:exported="false"/>
        <activity android:name=".activity.ProfileTeacherActivity" android:exported="false"/>
        <activity android:name=".activity.CreateClassActivity" android:exported="false"/>
        <activity android:name=".activity.CreateTaskActivity" android:exported="false"/>
        <activity android:name=".activity.UploadMaterialActivity" android:exported="false"/>
        <activity android:name=".activity.TeacherClassDetailActivity" android:exported="false"/>
        <activity android:name=".activity.TeacherClassActivity" android:exported="false"/>
        <activity android:name=".activity.TeacherReminderActivity" android:exported="false"/>
        <activity android:name=".activity.SubmissionTeacherActivity" android:exported="false"/>
        <activity android:name=".activity.GradeSubmissionActivity"/>
        <!-- MAIN -->
        <activity android:name=".MainActivity" android:exported="false"/>

    </application>

</manifest>